<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bitLogin Testing</title>
    <style>
      .btnOpen {
        padding: 10px;
      }
      /* .btnLoading::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
      }
      @keyframes button-loading-spinner {
        from {
          transform: rotate(0turn);
        }

        to {
          transform: rotate(1turn);
        }
      } */
      .btnLoading {
        background: black;
        color: white;
        text-align: center;
        width: 100px;
      }
      #loader {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: spin 2s linear infinite;
        display: flex;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body>
    <h2>Testing View</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ab
      minus debitis vel eveniet pariatur?
    </p>
    <span id="alertMessage"></span>
    <form id="formTesting">
      <label for="phone">HP</label>
      <input type="text" placeholder="Nomor HP" id="phone" /> <br />
      <label for="name">Name</label>
      <input type="text" placeholder="Name" id="name" /> <br />
      <label for="email">Email</label>
      <input type="text" placeholder="Email" id="email" /> <br />
      <label for="domain">Domain</label>
      <input
        type="text"
        placeholder="Domain"
        id="domain"
        value="arion-cafe.myshopify.com"
      />
      <br />
      <button type="submit">Submit</button>
    </form>

    <button class="btnOpen">Open Window</button>
    <button class="btnLoading">
      <center>
        <div id="loader"></div>
        Please wait...
      </center>
      <!-- Save Changes -->
    </button>

    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $("#formTesting").submit(function (e) {
          const alertMessage = $("#alertMessage");
          const phone = $("#phone").val();
          const name = $("#name").val();
          const email = $("#email").val();
          const domain = $("#domain").val();

          if (!phone) {
            alertMessage.text("Phone is required");
            return false;
          }
          if (!name) {
            alertMessage.text("Name is required");
            return false;
          }
          if (!email) {
            alertMessage.text("Email is required");
            return false;
          }

          const data = {
            name,
            email,
            phone,
            domain,
          };

          $.ajax({
            method: "POST",
            url: "/shopify/customer",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(data),
            error: function (error) {
              console.log(error);
            },
            success: function (data) {
              console.log(data);
            },
          });

          e.preventDefault();
        });

        $(".btnOpen").click(function () {
          const width = 700;
          const height = 600;
          const left = screen.width / 2 - width / 2;
          const top = screen.height / 2 - height / 2 - 40;
          window.open(
            "https://api.dev.bitbybit.studio/bitlogin/api/login/whatsapp",
            "mywindow",
            `menubar=1,resizable=1,width=${width},height=${height},left=${left},top=${top}`
          );
        });
      });
    </script>
  </body>
</html>
